# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# Alembic cache
alembic/__pycache__/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/.gradle/
android/local.properties

# VSCode
.vscode/

# Logs
*.log

graphify-out/