--
-- PostgreSQL database dump
--

\restrict NEW9pPL5sqOYMA1SjAq3qfqduN4cxHn0LtSXmkxZfNcCGxFD0qNbaFAWfnYLuaV

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: additional_income; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.additional_income (
    additional_income_id integer NOT NULL,
    user_id integer NOT NULL,
    source_name character varying(100) NOT NULL,
    amount double precision NOT NULL,
    date date NOT NULL
);


ALTER TABLE public.additional_income OWNER TO postgres;

--
-- Name: additional_income_additional_income_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.additional_income_additional_income_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.additional_income_additional_income_id_seq OWNER TO postgres;

--
-- Name: additional_income_additional_income_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.additional_income_additional_income_id_seq OWNED BY public.additional_income.additional_income_id;


--
-- Name: ai_nudges; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_nudges (
    nudge_id integer NOT NULL,
    user_id integer NOT NULL,
    message character varying(500) NOT NULL,
    priority character varying(20) NOT NULL,
    category character varying(50) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    is_read boolean NOT NULL
);


ALTER TABLE public.ai_nudges OWNER TO postgres;

--
-- Name: ai_nudges_nudge_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_nudges_nudge_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_nudges_nudge_id_seq OWNER TO postgres;

--
-- Name: ai_nudges_nudge_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_nudges_nudge_id_seq OWNED BY public.ai_nudges.nudge_id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics (
    analytics_id integer NOT NULL,
    user_id integer NOT NULL,
    month character varying(20) NOT NULL,
    total_spent double precision NOT NULL,
    total_saved double precision NOT NULL,
    savings_rate double precision NOT NULL,
    financial_health_score double precision NOT NULL
);


ALTER TABLE public.analytics OWNER TO postgres;

--
-- Name: analytics_analytics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analytics_analytics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analytics_analytics_id_seq OWNER TO postgres;

--
-- Name: analytics_analytics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analytics_analytics_id_seq OWNED BY public.analytics.analytics_id;


--
-- Name: fixed_expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fixed_expenses (
    expense_id integer NOT NULL,
    user_id integer NOT NULL,
    category character varying(100) NOT NULL,
    subcategory character varying(100) NOT NULL,
    amount double precision NOT NULL,
    recurring boolean NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.fixed_expenses OWNER TO postgres;

--
-- Name: fixed_expenses_expense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fixed_expenses_expense_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fixed_expenses_expense_id_seq OWNER TO postgres;

--
-- Name: fixed_expenses_expense_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fixed_expenses_expense_id_seq OWNED BY public.fixed_expenses.expense_id;


--
-- Name: goal_contributions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.goal_contributions (
    contribution_id integer NOT NULL,
    goal_id integer NOT NULL,
    amount double precision NOT NULL,
    date date NOT NULL
);


ALTER TABLE public.goal_contributions OWNER TO postgres;

--
-- Name: goal_contributions_contribution_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.goal_contributions_contribution_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.goal_contributions_contribution_id_seq OWNER TO postgres;

--
-- Name: goal_contributions_contribution_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.goal_contributions_contribution_id_seq OWNED BY public.goal_contributions.contribution_id;


--
-- Name: goals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.goals (
    goal_id integer NOT NULL,
    user_id integer NOT NULL,
    goal_name character varying(100) NOT NULL,
    target_amount double precision NOT NULL,
    current_amount double precision NOT NULL,
    priority integer NOT NULL,
    target_date date,
    status character varying(50) NOT NULL
);


ALTER TABLE public.goals OWNER TO postgres;

--
-- Name: goals_goal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.goals_goal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.goals_goal_id_seq OWNER TO postgres;

--
-- Name: goals_goal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.goals_goal_id_seq OWNED BY public.goals.goal_id;


--
-- Name: income; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.income (
    income_id integer NOT NULL,
    user_id integer NOT NULL,
    primary_income double precision NOT NULL,
    total_additional_income double precision NOT NULL,
    total_income double precision NOT NULL,
    month character varying(20) NOT NULL
);


ALTER TABLE public.income OWNER TO postgres;

--
-- Name: income_income_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.income_income_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.income_income_id_seq OWNER TO postgres;

--
-- Name: income_income_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.income_income_id_seq OWNED BY public.income.income_id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    title character varying(255) NOT NULL,
    message character varying(1000) NOT NULL,
    type character varying(50) NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: otp_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_verifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    otp_code character varying(6) NOT NULL,
    is_used boolean NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.otp_verifications OWNER TO postgres;

--
-- Name: otp_verifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.otp_verifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.otp_verifications_id_seq OWNER TO postgres;

--
-- Name: otp_verifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.otp_verifications_id_seq OWNED BY public.otp_verifications.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token character varying(500) NOT NULL,
    is_revoked boolean NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO postgres;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: streaks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.streaks (
    streak_id integer NOT NULL,
    user_id integer NOT NULL,
    current_streak integer NOT NULL,
    longest_streak integer NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.streaks OWNER TO postgres;

--
-- Name: streaks_streak_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.streaks_streak_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.streaks_streak_id_seq OWNER TO postgres;

--
-- Name: streaks_streak_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.streaks_streak_id_seq OWNED BY public.streaks.streak_id;


--
-- Name: user_activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_activity_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    activity_type character varying(100) NOT NULL,
    description character varying(500) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.user_activity_logs OWNER TO postgres;

--
-- Name: user_activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_activity_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_activity_logs_id_seq OWNER TO postgres;

--
-- Name: user_activity_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_activity_logs_id_seq OWNED BY public.user_activity_logs.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    full_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    age integer NOT NULL,
    user_type character varying(50) NOT NULL,
    is_verified boolean NOT NULL,
    created_at timestamp without time zone NOT NULL,
    ai_preference boolean NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: variable_budget; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variable_budget (
    budget_id integer NOT NULL,
    user_id integer NOT NULL,
    month character varying(20) NOT NULL,
    allocated_budget double precision NOT NULL,
    remaining_budget double precision NOT NULL
);


ALTER TABLE public.variable_budget OWNER TO postgres;

--
-- Name: variable_budget_budget_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variable_budget_budget_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.variable_budget_budget_id_seq OWNER TO postgres;

--
-- Name: variable_budget_budget_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variable_budget_budget_id_seq OWNED BY public.variable_budget.budget_id;


--
-- Name: variable_expenses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variable_expenses (
    expense_id integer NOT NULL,
    user_id integer NOT NULL,
    category character varying(100) NOT NULL,
    amount double precision NOT NULL,
    note character varying(255) NOT NULL,
    date date NOT NULL
);


ALTER TABLE public.variable_expenses OWNER TO postgres;

--
-- Name: variable_expenses_expense_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variable_expenses_expense_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.variable_expenses_expense_id_seq OWNER TO postgres;

--
-- Name: variable_expenses_expense_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variable_expenses_expense_id_seq OWNED BY public.variable_expenses.expense_id;


--
-- Name: additional_income additional_income_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.additional_income ALTER COLUMN additional_income_id SET DEFAULT nextval('public.additional_income_additional_income_id_seq'::regclass);


--
-- Name: ai_nudges nudge_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_nudges ALTER COLUMN nudge_id SET DEFAULT nextval('public.ai_nudges_nudge_id_seq'::regclass);


--
-- Name: analytics analytics_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics ALTER COLUMN analytics_id SET DEFAULT nextval('public.analytics_analytics_id_seq'::regclass);


--
-- Name: fixed_expenses expense_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fixed_expenses ALTER COLUMN expense_id SET DEFAULT nextval('public.fixed_expenses_expense_id_seq'::regclass);


--
-- Name: goal_contributions contribution_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goal_contributions ALTER COLUMN contribution_id SET DEFAULT nextval('public.goal_contributions_contribution_id_seq'::regclass);


--
-- Name: goals goal_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goals ALTER COLUMN goal_id SET DEFAULT nextval('public.goals_goal_id_seq'::regclass);


--
-- Name: income income_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.income ALTER COLUMN income_id SET DEFAULT nextval('public.income_income_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: otp_verifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications ALTER COLUMN id SET DEFAULT nextval('public.otp_verifications_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: streaks streak_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.streaks ALTER COLUMN streak_id SET DEFAULT nextval('public.streaks_streak_id_seq'::regclass);


--
-- Name: user_activity_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity_logs ALTER COLUMN id SET DEFAULT nextval('public.user_activity_logs_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: variable_budget budget_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variable_budget ALTER COLUMN budget_id SET DEFAULT nextval('public.variable_budget_budget_id_seq'::regclass);


--
-- Name: variable_expenses expense_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variable_expenses ALTER COLUMN expense_id SET DEFAULT nextval('public.variable_expenses_expense_id_seq'::regclass);


--
-- Data for Name: additional_income; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.additional_income (additional_income_id, user_id, source_name, amount, date) FROM stdin;
1	1	Freelance	2000	2026-06-15
\.


--
-- Data for Name: ai_nudges; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_nudges (nudge_id, user_id, message, priority, category, created_at, is_read) FROM stdin;
1	1	Your savings rate is low. Review your spending habits.	High	Savings	2026-06-16 11:43:48.781806	f
2	1	You have Γé╣1000.0 available for savings. Consider contributing it to Emergency Fund.	Medium	Goal	2026-06-16 12:07:53.587045	f
3	1	You have exceeded your Flex Spend budget.	High	Budget	2026-06-16 17:26:16.5856	f
4	1	Your savings rate is low. Review your spending habits.	High	Savings	2026-06-16 21:01:37.821276	f
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
264605e68cd1
\.


--
-- Data for Name: analytics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.analytics (analytics_id, user_id, month, total_spent, total_saved, savings_rate, financial_health_score) FROM stdin;
1	1	June	11000	1000	8.33	40
2	1	July	5000	0	0	52
\.


--
-- Data for Name: fixed_expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fixed_expenses (expense_id, user_id, category, subcategory, amount, recurring, created_at) FROM stdin;
1	1	Housing	Rent	5000	t	2026-06-15 19:03:06.598053
\.


--
-- Data for Name: goal_contributions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.goal_contributions (contribution_id, goal_id, amount, date) FROM stdin;
1	1	10000	2026-06-16
2	1	10000	2026-06-16
3	1	10000	2026-06-16
4	1	10000	2026-06-16
5	1	5000	2026-06-16
\.


--
-- Data for Name: goals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.goals (goal_id, user_id, goal_name, target_amount, current_amount, priority, target_date, status) FROM stdin;
1	1	Emergency Fund	50000	45000	1	2027-12-31	Active
\.


--
-- Data for Name: income; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.income (income_id, user_id, primary_income, total_additional_income, total_income, month) FROM stdin;
2	1	10000	2000	12000	June
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, title, message, type, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: otp_verifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.otp_verifications (id, user_id, otp_code, is_used, expires_at, created_at) FROM stdin;
1	1	814354	f	2026-06-11 13:47:33.64195	2026-06-11 13:37:33.643858
2	1	451704	t	2026-06-11 13:47:54.544204	2026-06-11 13:37:54.544592
3	1	767349	t	2026-06-11 13:56:35.598491	2026-06-11 13:46:35.600478
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: streaks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.streaks (streak_id, user_id, current_streak, longest_streak, updated_at) FROM stdin;
1	1	3	3	2026-06-17 13:46:54.966789
\.


--
-- Data for Name: user_activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_activity_logs (id, user_id, activity_type, description, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, full_name, email, password_hash, age, user_type, is_verified, created_at, ai_preference) FROM stdin;
1	Soham	soham@test.com	$argon2id$v=19$m=65536,t=3,p=4$LExJl3mYz5wb/6TGYGB0rw$HUEbTXn23zyb82yZWAGzyqnFtjzuTSNBXvfWghiPsH4	21	Student	f	2026-06-05 14:19:56.904291	t
2	soham	test@gmail.com	$argon2id$v=19$m=65536,t=3,p=4$y2iKvkIu6JQw5rTCuo3mKA$ud5tAfL4n2pFQ8Jr2ucII5lTApy4rIxrfYXjcKls3F8	20	Student	f	2026-06-18 14:43:01.572354	t
\.


--
-- Data for Name: variable_budget; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.variable_budget (budget_id, user_id, month, allocated_budget, remaining_budget) FROM stdin;
1	1	June	5000	0
\.


--
-- Data for Name: variable_expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.variable_expenses (expense_id, user_id, category, amount, note, date) FROM stdin;
1	1	Food	500	Burgerking	2026-06-15
2	1	Food	500	Burgerking	2026-06-15
3	1	Trade	4000	Car	2026-06-15
\.


--
-- Name: additional_income_additional_income_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.additional_income_additional_income_id_seq', 1, true);


--
-- Name: ai_nudges_nudge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_nudges_nudge_id_seq', 4, true);


--
-- Name: analytics_analytics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.analytics_analytics_id_seq', 2, true);


--
-- Name: fixed_expenses_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fixed_expenses_expense_id_seq', 1, true);


--
-- Name: goal_contributions_contribution_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.goal_contributions_contribution_id_seq', 5, true);


--
-- Name: goals_goal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.goals_goal_id_seq', 1, true);


--
-- Name: income_income_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.income_income_id_seq', 2, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, true);


--
-- Name: otp_verifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.otp_verifications_id_seq', 3, true);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 58, true);


--
-- Name: streaks_streak_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.streaks_streak_id_seq', 1, true);


--
-- Name: user_activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_activity_logs_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: variable_budget_budget_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.variable_budget_budget_id_seq', 1, true);


--
-- Name: variable_expenses_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.variable_expenses_expense_id_seq', 3, true);


--
-- Name: additional_income additional_income_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.additional_income
    ADD CONSTRAINT additional_income_pkey PRIMARY KEY (additional_income_id);


--
-- Name: ai_nudges ai_nudges_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_nudges
    ADD CONSTRAINT ai_nudges_pkey PRIMARY KEY (nudge_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: analytics analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_pkey PRIMARY KEY (analytics_id);


--
-- Name: fixed_expenses fixed_expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fixed_expenses
    ADD CONSTRAINT fixed_expenses_pkey PRIMARY KEY (expense_id);


--
-- Name: goal_contributions goal_contributions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goal_contributions
    ADD CONSTRAINT goal_contributions_pkey PRIMARY KEY (contribution_id);


--
-- Name: goals goals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goals
    ADD CONSTRAINT goals_pkey PRIMARY KEY (goal_id);


--
-- Name: income income_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_pkey PRIMARY KEY (income_id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: otp_verifications otp_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: streaks streaks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.streaks
    ADD CONSTRAINT streaks_pkey PRIMARY KEY (streak_id);


--
-- Name: streaks streaks_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.streaks
    ADD CONSTRAINT streaks_user_id_key UNIQUE (user_id);


--
-- Name: user_activity_logs user_activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity_logs
    ADD CONSTRAINT user_activity_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: variable_budget variable_budget_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variable_budget
    ADD CONSTRAINT variable_budget_pkey PRIMARY KEY (budget_id);


--
-- Name: variable_expenses variable_expenses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variable_expenses
    ADD CONSTRAINT variable_expenses_pkey PRIMARY KEY (expense_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: additional_income additional_income_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.additional_income
    ADD CONSTRAINT additional_income_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ai_nudges ai_nudges_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_nudges
    ADD CONSTRAINT ai_nudges_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: analytics analytics_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: fixed_expenses fixed_expenses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fixed_expenses
    ADD CONSTRAINT fixed_expenses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: goal_contributions goal_contributions_goal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goal_contributions
    ADD CONSTRAINT goal_contributions_goal_id_fkey FOREIGN KEY (goal_id) REFERENCES public.goals(goal_id);


--
-- Name: goals goals_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.goals
    ADD CONSTRAINT goals_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: income income_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.income
    ADD CONSTRAINT income_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: otp_verifications otp_verifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: streaks streaks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.streaks
    ADD CONSTRAINT streaks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_activity_logs user_activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_activity_logs
    ADD CONSTRAINT user_activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: variable_budget variable_budget_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variable_budget
    ADD CONSTRAINT variable_budget_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: variable_expenses variable_expenses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variable_expenses
    ADD CONSTRAINT variable_expenses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict NEW9pPL5sqOYMA1SjAq3qfqduN4cxHn0LtSXmkxZfNcCGxFD0qNbaFAWfnYLuaV

